main {
    /* background-color: black; */
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-publi {
    background-color: var(--cor-branco); 
    /* height: 700px; */
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: var(--borda);
    color: var(--cor-preto);
}

#storys {
    /* background-color: #7FFFD4; */
    width: 100%;
    /* height: 300px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar {
    width: 0;
}

.card-story {
    /* background-color: #1E90FF; */
}

.card-story>button {
    background-color: transparent;
    border: none;

    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

/* secao criar publi */
.formulario-botao-roxo {
    width: 135px;
}

#criar-publi {
    padding: 10px;
}

#criar-publi>h2 {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
    margin-bottom: 15px;

}

#criar-publi>form>textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border: var(--borda);

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

#criar-publi>form>textarea::placeholder {
    color: var(--cor-cinza-medio);
}

#criar-publi>form>footer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


#publicacoes {
    /* background-color: aqua; */
    width: 100%;
}

.card-publi {
    /* background-color: royalblue; */
    width: 100%;
    /* height: 600px; */
}

.card-publi>header {
    display: flex;
    align-items: center;
    padding: 1%;
}

.card-publi>header>a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: var(--cor-preto);
    font-weight: 500;
    text-transform: lowercase;
}

.card-publi>figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imagem-publicacao {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 550px;
}

.card-publi>figure>figcaption {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1%;
    margin: 10px;
    order: 2;
}

.descricao-publicacao {
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}

.interacoes-publicacoes {
    display: flex;
    width: 88px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 10px;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;
}

.interacoes-publicacoes>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-publi>figure>button {
    background-color: transparent;
    border: none;

    color: var(--cor-cinza-);
    font-size: var(--tamanho-fonte-sm);

    order: 3;
    margin-left: 15px;
    align-items: flex-start;
}